<mat-card class="login-card">
    <mat-card-title>
         <h1>Hello</h1>
    </mat-card-title>
     <mat-card-content>
           <form [formGroup]="loginFormGroup" (ngSubmit)="seConnecter()">
               <p>
                     <mat-form-field class="login-form-field" appearance="outline">
                          <mat-label>Email</mat-label>
                          <input matInput formControlName="email" required>
                     </mat-form-field>
               </p>
             
               <p>
                    <mat-form-field class="login-form-field" appearance="outline">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput placeholder="Password" formControlName="password" [type]="hidepwd ? 'password':'text'" required>
                    </mat-form-field>
               </p>

             <button mat-raised-button color="accent" type="submit"><mat-icon>login</mat-icon>Se connecter</button>
           </form>
     </mat-card-content>
 </mat-card>