.user-info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}