.sidenav-container {
  position: flex;
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.top-toolbar{
  max-height: 12%;
}
.top-toolbar.mat-primary {
  position: flex;
  top: 10;
  z-index: 1;
}
.nav-content{
  max-height: 90%;
}

.active {
  font-size: 1.3rem;
}
