:root{
  --fc-button-text-color: white;
--fc-button-bg-color: #212121;
--fc-button-border-color: #2C3E50;
--fc-button-background-color: #212121;
--fc-button-hover-bg-color: #212121;
--fc-button-hover-border-color: #212121;
--fc-button-active-bg-color: #212121;
--fc-button-active-border-color: #212121;
--fc-event-text-color: rgb(255, 255, 255);
--fc-now-indicator-color: #d32f2f;
}
.fc-timegrid-now-indicator-line{
  border: solid #d32f2f!important;
  background-color: var(--fc-now-indicator-color);
}

body{
  /* light-theme background en grey-palette 50 */
  background-color: #fafafa;
}
