@use "@angular/material" as mat;

@include mat.core();

$primary-palette: mat.define-palette(mat.$grey-palette,900,400,200);
$my-app-accent: mat.define-palette(mat.$red-palette,700,400,900);
$my-app-warn: mat.define-palette(mat.$amber-palette,700,600,900);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $my-app-accent,
      warn: $my-app-warn,
    )
  )
);

@include mat.all-component-themes($my-app-theme);

.mat-card{
  &:hover {
    @include mat.elevation(10);
  }
}

button {
  &:hover {
    @include mat.elevation(10);
  }
}

.mat-raised-button {
  &:hover {
    @include mat.elevation(10);
  }
}
.mat-list-item{
  &:hover {
    @include mat.elevation(2);
  }
}
.fc-timegrid-now-indicator-line{
  &:hover {
    @include mat.elevation(5);
  }
}