<form class="patient-info-form"  [formGroup]="patInfoFormGroup" (ngSubmit)="addPatient()">

  <mat-tab-group headerPosition=below>
    <mat-divider></mat-divider>
    <mat-tab label="Infos">
      <table>
        <tr>
          <td>
            <mat-form-field class="patient-form-section" appearance="fill">
              <mat-label>Prenom</mat-label>
              <input matInput formControlName="name" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="patient-form-section" appearance="fill">
              <mat-label>2eme Prenom(s)</mat-label>
              <input matInput formControlName="firstnames">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
          <mat-form-field class="patient-form-section" appearance="fill">
            <mat-label>Nom de famille</mat-label>
            <input matInput formControlName="lastname">
          </mat-form-field>
        </td>
          <td>
            <mat-form-field class="patient-form-section" appearance="fill">
                <mat-label>Nom de naissance</mat-label>
                <input matInput formControlName="birthname">
            </mat-form-field>
          </td>
        </tr>
      </table>
      
      <div>
        <mat-form-field class="patient-form-numsecu" appearance="fill">
          <mat-label>numero secu</mat-label>
          <input matInput formControlName="ins_matricule">
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field class="patient-form-gender" appearance="fill">
          <mat-label>Genre</mat-label>
          <input matInput formControlName="gender">
        </mat-form-field>
      </div>
    </mat-tab>

    <mat-tab label="Coordonnees">
      <table>
        <td>
          <mat-form-field class="patient-form-paragraph" appearance="fill">
            <mat-label>Telephone</mat-label>
            <input matInput placeholder="Ex. 0601020304" formControlName="phone">
          </mat-form-field>
        </td>
          <td>
          <mat-form-field class="patient-form-paragraph" appearance="fill">
            <mat-label>email</mat-label>
            <input matInput placeholder="Ex. johm@france.gov" formControlName="email">
          </mat-form-field>
        </td>
      </table>
      
      <p>
      <mat-form-field class="patient-form-address" appearance="fill">
        <mat-label>Adresse</mat-label>
        <textarea matInput placeholder="Ex. 1 Avenue Secretan" formControlName="address"></textarea>
      </mat-form-field>
    </p>
  
    <table class="add-patient-form-paragraph" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ville</mat-label>
        <input matInput placeholder="Ex. San Francisco" formControlName="city">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Code Postal</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" formControlName="postalcode">
      </mat-form-field></td>
    </tr></table>
    </mat-tab>
  </mat-tab-group>

<mat-dialog-actions>
  <div *ngIf="modifyState">
    <button mat-raised-button color="primary" (click)="updatePatientInfos()"><mat-icon>send</mat-icon>Modifier</button>
  </div>
  <div *ngIf="!modifyState">
    <button mat-raised-button type="submit" ><mat-icon color="accent">person_add</mat-icon>Ajouter Patient</button>
  </div>
</mat-dialog-actions>
</form>



  