.search-or-add-patient-card{
    display:grid;
    /* //grid-column: auto auto; */
    grid-template-columns: 70% auto ;
}

.search-or-add-patient-grid-item{
    max-width: 70%;
}

.mat-form-field{
    overflow:hidden !important;
}

.search-bar{
    min-width: 200px;
    width: 100%;
    /* border-radius: 1em; */
}

.search-form{
    border-collapse: collapse;
}
.search-button{
    max-width: 20%;
    display: flex;
}

.patient-info-form{
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    height:auto;
    margin-bottom: 3em;
    grid-gap: 1em;
}
.patient-form-numsecu{
   width: 100%;
}
.patient-form-gender{
    max-width: 15%;
}
.patient-form-address{
    width: 100%;
}