<div class="search-or-add-patient-card">
    <div class="search-or-add-patient-grid-item">
        <form class="search-form" (ngSubmit)="searchPatient()">
            <mat-form-field class="search-bar" appearance="fill">
                <mat-label>Recherche le nom d'un patient</mat-label>
                <input type="text"
                        placeholder="recherche sensible a la casse"
                        matInput
                        [formControl]="searchControl"
                        > 
            </mat-form-field>
            <div class="search-button">
                <button mat-mini-fab class="search-icon" color="primary" type="submit" ><mat-icon>search</mat-icon></button>
            </div>
        </form>
    </div>
    <div class="search-or-add-patient-grid-item">
        <button mat-fab (click)="addPatient()"><mat-icon>person_add</mat-icon></button>
        Ajouter Patient
    </div>
</div>
<div>
    <mat-selection-list class="searchedlist" #searchedpat [multiple]="false">
        <div mat-line *ngIf="listIsVisible">Resultats
            <mat-progress-bar mode="query" *ngIf="!searchcomplete"></mat-progress-bar>
        </div>
        <mat-list-option *ngFor="let patient of filteredPatients | async" [value]="patient">
            <a mat-list-item [routerLink]="patient.id">{{patient.name}} {{patient.lastname}} {{patient.ins_matricule}}</a>
        </mat-list-option>
      </mat-selection-list>
</div>