.search-or-add-patient-card{
    display:grid;
    /* //grid-column: auto auto; */
    grid-template-columns: 70% auto ;
}

.search-or-add-patient-grid-item{
    max-width: 70%;
}

.mat-form-field{
    overflow:hidden !important;
}

.search-form{
    /* border-collapse: collapse; */
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.search-bar{
    grid-column: 1 / 3;
    min-width: 200px;
    width: 100%;
}
.search-button{
    padding: 5px;
    grid-column: 3 / 3;
}



.patient-info-form{
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    height:auto;
    margin-bottom: 3em;
    grid-gap: 1em;
}
.patient-form-numsecu{
   width: 100%;
}
.patient-form-gender{
    max-width: 15%;
}
.patient-form-address{
    width: 100%;
}