.agenda{
    display: flex;
    flex-direction: column;
    text-justify: auto;
    margin-block: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    height: 100%;
}

.user-info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

.event-form{
    /* min-width: 200px; */
    /* max-width: 80% !important;
    max-height: 70% !important; */
    display: inline-grid;
    /* width: 90% ; */
}
.createevent-form{
    /* min-width: 200px; */
    max-width: 80% !important;
    display: inline-grid;
    /* width: 90% ; */
}
.event-form-section-title{
    font-size: 1em;
    font-weight: bold;
    max-inline-size: 100%;
    display: inline;
}
.event-form-section-desc{
    margin-bottom: 10px;
    height: 100%;    
    display: inline;
}

.mat-dialog-content-desc{
    margin-bottom: 10px;
    height: 20%;
    display: list-item;
}

td {
    max-height: 90%;
    width : 40%;
    /* this is to change to adapt to the screen size */
    /* display:inline; */
}

.event-form-section-date{
    display: inline-table;
    max-width: 30%;
}
table {
    padding: 1px;
    width: 100%;
    display: inline-table;
    /* display: grid; */
}

.event-form-section-patient{
    display: inline;
}
/* 
.event-form-search{
    grid-column: 5/6;
}
.search-icon{
    grid-column: 1/6;
} */